.container {
  width: 100%;
  min-height: 50px;
  padding: 10px;
  margin-left: 1rem;
  margin-right: 1rem;
  border-top: 2px solid #e0e0e0;
  border-bottom: 2px solid #e0e0e0;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
/*   background:#e0e0e0; */
}

.header {
  text-align: left;
  text-transform: uppercase;
  ;
  padding: 1px 0 0.5rem;
  margin: 0.5rem;
}

.title {
  font-size: 150%;
  font-weight: 600;
}

.subTitle {
  font-size: 100%;
  margin: 0;
  font-weight: 300;
}

@media (min-width: 1025px) {
  .container {
    width: 1280px;
    min-height: 50px;
    padding: 1px;
    margin-bottom: 1rem;
  }
}
