.container {
  margin-top: 1em;
}

.formContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  margin: 8em auto;
  width: 100%;
}

.title{
  text-align: center;
  font-size: 250%;
  margin: 1em;
  padding: 1em;
  letter-spacing: 1px;
  color: #000;
}
.select{
  background: none;
  text-transform: capitalize;
}

.selectOption{
 margin: 1rem;
 padding: 1rem;
}
/* form starting stylings ------------------------------- */
.group {
  position: relative;
  margin-bottom: 45px;
}

.input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  border: none;
  border-bottom: 1px solid #757575;
  min-width: 100%

}
.input:focus {
  outline: none;
}

/* LABEL ======================================= */
.label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
.input:focus ~ .label,
.input:valid ~ .label {
  top: -20px;
  font-size: 14px;
  color: #44aa97;
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  min-width: 100%
}
.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  border-bottom: 0 !important;
  background: #44aa97;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
.input:focus ~ .bar:before,
.input:focus ~ .bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
.input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #44aa97;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #44aa97;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #44aa97;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@media (min-width: 800px) {
  
  .formContainer {
    margin: 10em auto;
    width: 1080px;
  }
  .input {
    width: 650px;
  } 
}