.container{
    display: flex;
    justify-content: center;
    margin-top: 5em;
    background-color: black;
    height: 180px;
    color: white;
    font-size: 130%;
}

.copyright{
    text-align: center;
    margin-top: 5em;
    font-weight: 400;
}